---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=ea13eaa5266f286c9fb198819f501276&lat=37.791812&lon=-122.394757&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-122.39,"lat":37.79},"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"base":"stations","main":{"temp":57.27,"feels_like":55.29,"temp_min":53.58,"temp_max":61.14,"pressure":1026,"humidity":55},"visibility":10000,"wind":{"speed":13,"deg":271,"gust":20},"clouds":{"all":20},"dt":1712432004,"sys":{"type":2,"id":2007646,"country":"US","sunrise":1712411176,"sunset":1712457412},"timezone":-25200,"id":5391959,"name":"San
        Francisco","cod":200}'
  recorded_at: Sat, 06 Apr 2024 19:34:52 GMT
recorded_with: VCR 6.2.0
