---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=ea13eaa5266f286c9fb198819f501276&lat=37.791812&lon=-122.394757&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-122.3948,"lat":37.7918},"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"base":"stations","main":{"temp":56.26,"feels_like":54.27,"temp_min":52.99,"temp_max":60.22,"pressure":1026,"humidity":57},"visibility":10000,"wind":{"speed":11.01,"deg":284,"gust":15.01},"clouds":{"all":20},"dt":1712429492,"sys":{"type":2,"id":2007646,"country":"US","sunrise":1712411177,"sunset":1712457414},"timezone":-25200,"id":5391959,"name":"San
        Francisco","cod":200}'
  recorded_at: Sat, 06 Apr 2024 18:51:32 GMT
recorded_with: VCR 6.2.0
