<h1>Weather for these Addresses</h1>
<% unless @addresses.present? %>
    <h2> No addresses to list.</h2>
<% end %>
<ul>
<% if @addresses.present? %>
    <% @addresses.each do |address| %>
        <li> <%=address.street_address %> (<%=address.weather.first.description%>)</li>
    <% end %>
<% end %>
</ul>
<hr>
<h2>Enter your address and find your weather:</h2>
<form method="POST" action="/addresses/new">
<label for="street_address">Street Address</label>
<input type="text" name="street_address" placeholder="street address">

<label for="city">City: </label>
<input type="text" name="city" placeholder="City">

<label for="state">State</label>
<input type="text" name="state" placeholder="State">

<label for="zip">Zip</p>
<input type="text" name="zip" placeholder="zip code">
<input id="submitButton" type="Submit" value="Find Weather">
</form>